.address {
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 80px auto 100px;
}

.address .address-content {
  margin-left: 10px;
}

.address p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: -0.875rem;
  line-height: 30px;
}

.first-letter {
  color: white;
  background-color: green;
}
span {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}